.info {
  border: 0.25px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(162, 162, 162);
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 5rem;
  height: auto;
  animation: hithere 1s ease infinite;
}

@keyframes hithere {
  30% {
    transform: scale(0.9);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1);
  }
  70% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: scale(1);
  }
}
