<div
  class="container flex flex-col items-center mx-auto w-fit h-fit px-0 py-0 mt-4"
>
  <div
    class="info flex flex-col items-center justify-between w-80 h-80 bg-gray-100 p-4"
  >
    <div class="infoText font-bold text-2xl">Whack-a-mole!</div>
    <div class="infoText leading-4">
      When you see a mole pop up from the box, whack it! Click "play!" to go to
      the game!
    </div>

    <div class="imgContainer">
      <img src="../../assets/mole-unwhacked.png" alt="moleUnwhacked" />
    </div>
  </div>
</div>
