<nav class="bg-white px-2 flex justify-around">
  <div class="container flex items-center justify-between w-screen">
    <div class="flex items-center w-fit">
      <img
        src="../../assets/mole-unwhacked.png"
        class="h-6 mr-3 sm:h-12"
        alt=""
        id="moleUnwacked"
      />
      <div class="text-xl font-semibold cursor-default">Whack-a-Mole!</div>
    </div>
    <div class="flex order-3 ml-28">
      <button
        type="button"
        class="text-white bg-gray-900 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1.5 text-center mr-3"
        routerLink="/game"
        routerLinkActive="active"
      >
        Play!
      </button>
    </div>
    <div class="items-center gap-10 flex" id="navbar-cta w-auto">
      <ul
        class="flex mt-0 flex-row text-sm gap-20 font-medium items-center justify-center w-auto"
      >
        <li>
          <a
            class="py-2 text-slate-500 hover:text-black hover:underline"
            routerLink="/highscore"
            routerLinkActive="active"
            >Highscore</a
          >
        </li>
        <li>
          <a
            class="py-2 text-slate-500 hover:text-black hover:underline"
            routerLink="/about"
            routerLinkActive="active"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
