.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 0.1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.game-container {
  border: 0.25px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(162, 162, 162);
}

.moleVisible {
  background-image: url("../../assets/mole-unwhacked.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.moleHidden {
  background-image: url("../../assets/woddenbox.png");
  background-size: contain;
  background-repeat: no-repeat;
}
