.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 0.1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.game-container {
  border: 0.25px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(162, 162, 162);
}

.moleVisible {
  background-image: url("../../assets/mole-unwhacked.png");
  background-size: contain;
  background-repeat: no-repeat;

  animation: hithere 1s ease infinite;
}

.moleHidden {
  background-image: url("../../assets/woddenbox.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.timer {
  color: rgb(163, 241, 44);
  font-weight: bold;
  font-size: x-large;
}

@keyframes hithere {
  30% {
    transform: scale(0.9);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1);
  }
  70% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: scale(1);
  }
}
